label {
    margin-bottom: .5em;
}

input {
    margin-bottom:.5em;
    justify-items: start;
    width:25em;
}

.signUpButtons{
    margin-bottom:.5em;
    
}

#signButton {
    width:7em;
    height:2em;
    margin-left:1em;
    margin-right:1em;
    background-color:rgba(122,179,225,255)
}

