h1{
    font-weight: 700;
    font-size: xxx-large;
    margin:0;
}

#loginText, #loginPassword{
    box-sizing: border-box;
    width: 100%;
    justify-items: start;
    background-color: white;
    margin:0;
}

form {
    width:100%;
}

form button[type="submit"] {
    margin-top: 1em;;
    width: 10em;
    height: 2em;
    margin-top: 1em;
}
