th {
    background-color: rgb(112, 106, 106);
    color:white;
}

table {
    table-layout: fixed;
    width:90%;
    height:90%;
}

#calendar {
    height:100%;
}

h3{
    font-weight: 800;
    font-size:x-large;
    margin:.5em;
}

td:hover {
    background-color: black;
    color:white;
}
