h3 {
    margin:0;
}

#newTask {
    width:100%;
}

section {
    width:100%;
}

#task {
    justify-items: start;
    width:75%;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 1em;
}

#times {
    margin-bottom: 1em;
}

#lvlpriority {
    margin-bottom:1em;
}

#buttonButton {

    height:3em;
    width:20em;
    margin-bottom: 1em;
}

#newtask {
    margin-bottom: 1em;
}

#productivityTable{
    table-layout:fixed;
    overflow-wrap:anywhere;
}

input[type="checkbox"] {
    margin:0;
    padding:0;
    box-sizing: border-box;
    vertical-align: middle;
}

.col1{
    width:75%;
}
.col2{
    width:15%;
}
.col3{
    width:10%
}

th {
    background-color: rgb(153, 147, 147);
    color:white;
}

#topRow {
    background-color: rgba(122,179,225,255);
}

.checkBox {
    width:50%;
}