h3 {
    margin:0;
}

#newTask {
    width:100%;
}

section {
    width:100%;
}

#task {
    display:flexbox;
    justify-items: start;
    width:75%;
    box-sizing: border-box;
    border: 2px solid black;
    margin-bottom: 1em;
    white-space: pre-wrap;
    font-size: 1em;
    padding:0;
    text-align: start;
    min-height: 2em;
    flex-wrap:wrap;
    overflow:visible;
}

#times {
    margin-bottom: 1em;
}

#lvlpriority {
    margin-bottom:1em;
}

#buttonButton {

    height:3em;
    width:20em;
    margin-bottom: 1em;
}