h3 {
    margin:0;
}

#newTask {
    width:100%;
}

section {
    width:100%;
}

#task {
    justify-items: start;
    width:75%;
    height:1em;
    border: 2px solid black;
    margin-bottom: 1em;
}

#times {
    margin-bottom: 1em;
}

#lvlpriority {
    margin-bottom:1em;
}

#buttonButton {

    height:3em;
    width:20em;
    margin-bottom: 1em;
}